<%= content_tag :div, id: "game", data: [id: @game.id,
                                         playerid: player_id(@conn),
                                         replaylink: replay_link(@conn, @game)] do %>
<% end %>

<%= if @token do %>
  <script>window.unauthorizedUserToken = '<%= @token %>';</script>
<% end %>

<div id="game"></div>
