<table class="table">
  <thead>
    <tr>
      <th>Game</th>
    </tr>
  </thead>
  <tbody>
    <%= for game <- @games do %>
      <tr>
        <td><%= link Map.get(@game_names, game.id), to: @path.(game) %></td>
        <%= if path = @finish_path.(game) do %>
          <td class="text-right">
            <%= link @finish_text, to: path, class: "btn btn-danger", method: :post %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
