<%= content_tag :div, id: "game", data: [id: @game.id,
                                         playerid: player_id(@conn),
                                         shareid: share_link(@conn, @game)] do %>
<% end %>

<div id="game"></div>
